[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blink"]
	path = blink
	url = https://github.com/cleanzr/blink
[submodule "cd"]
	path = cd
	url = https://github.com/cleanzr/cd
[submodule "clevr"]
	path = clevr
	url = https://github.com/cleanzr/clevr
[submodule "cora"]
	path = cora
	url = https://github.com/cleanzr/cora
[submodule "italy"]
	path = italy
	url = https://github.com/cleanzr/italy
[submodule "klsh"]
	path = klsh
	url = https://github.com/cleanzr/klsh
[submodule "representr"]
	path = representr
	url = https://github.com/cleanzr/representr
[submodule "restaurant"]
	path = restaurant
	url = https://github.com/cleanzr/restaurant
