[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "clevr"]
	path = clevr
	url = https://github.com/cleanzr/clevr
	shallow = true
	registered = true
