[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "clevr"]
	path = clevr
	url = https://github.com/cleanzr/clevr
	shallow = true
	registered = true
[submodule "cora"]
	path = cora
	url = https://github.com/cleanzr/cora
	shallow = true
	registered = true
[submodule "restaurant"]
	path = restaurant
	url = https://github.com/cleanzr/restaurant
	shallow = true
	registered = true
[submodule "cd"]
	path = cd
	url = https://github.com/cleanzr/cd
	shallow = true
	registered = true
